.titlebar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  height: max-content;
}
.titlebar-logo {
  width: auto;
  height: 70px;
}
.upload-button {
  margin-left: 20px;
  background-color: var(--highlight);
  border: none;
  padding: 3px 5px;
  cursor: pointer !important;
  pointer-events: all;
  transition: all 0.1s;
  border-radius: 7px;
  border: 2px solid white;
  z-index: 9000;
}
.upload-button-hover {
  border: 2px solid var(--highlight);
  background-color: white;
}
.upload-button-hover > img {
  filter: none;
}
.upload-button-hover > span {
  color: var(--highlight);
}
.upload-button-img {
  height: 20px;
  width: auto;
  filter: brightness(0) invert(1);
}
.upload-button-text {
  margin-left: 5px;
  font-family: Tahoma, sans-serif;
  font-size: 23px;
  color: white;
}
@media screen and (max-width: 620px) {
  .titlebar-container {
    flex-direction: column;
  }
  .upload-button {
    margin-top: 10px;
  }
}

.live2d-model-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.live2d-controls {
  opacity: 0;
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}
.live2d-controls-visible {
  opacity: 1;
}
.live2d-control-icon {
  width: auto;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
}

.parameters-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5000;
  background-color: transparent;
  pointer-events: none;
  left: 50px;
}
.parameters-container-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 5000;
  background-color: transparent;
  pointer-events: none;
  right: 50px;
}
.parameters-dialog-box {
  max-height: 400px;
  width: 340px;
  overflow: overlay;
  background-color: var(--parametersBG);
  border: 2px solid var(--highlight);
  pointer-events: all;
}
.parts-dialog-box {
  margin-top: 20px;
  max-height: 300px;
  width: 300px;
  overflow: overlay;
  background-color: var(--parametersBG);
  border: 2px solid var(--highlight);
  pointer-events: all;
}
.parameters-dialog-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.parameters-dialog-row:hover {
  filter: brightness(140%);
}
.parameters-dialog-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.parameters-dialog-row-center:hover {
  filter: brightness(140%);
}
.parameters-dialog-title {
  margin-right: 5px;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  color: var(--highlight);
}
.parameters-dialog-text {
  margin-right: 5px;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  margin-left: 5px;
  color: var(--highlight);
}
.parameters-dialog-icon {
  width: auto;
  height: 20px;
}
.parameters-slider {
  display: flex;
  width: 140px;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}
.parameters-slider-track {
  display: flex;
  height: 5px;
  background-color: var(--highlight);
}
.parameters-slider-track.parameters-slider-track-1 {
  background-color: var(--highlight);
}
.parameters-slider-thumb {
  opacity: 1;
  display: flex;
  margin-top: -1px;
  border-radius: 5px;
  height: 12px;
  width: 12px;
  background-color: #fd183e;
}
.parameters-slider-thumb:active {
  outline: none;
}
.parameters-slider-thumb:focus {
  outline: none;
}
.parameters-button {
  background-color: var(--highlight);
  border: 1px solid var(--highlight);
  color: white;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 3px;
  cursor: pointer;
  transition: all 0.1s;
  margin-top: -5px;
  margin-bottom: 3px;
}
.parameters-button:hover {
  background-color: white;
  color: var(--highlight);
}
@media screen and (max-width: 850px) {
  .parameters-container {
    top: 800px;
  }
  .parameters-container-right {
    right: unset;
    top: 1530px;
    left: 50px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  .parameters-container {
    top: 620px;
    left: 25px;
  }
  .parameters-container-right {
    right: unset;
    top: 1350px;
    left: 25px;
    padding-bottom: 20px;
  }
}

:root {
  --background: #ffffff;
  --highlight: #ff6e2d;
  --parametersBG: #ffffff;
}
* {
  scrollbar-width: none;
  scrollbar-color: var(--highlight) var(--background);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="file"] {
  display: none;
}

